# CMV
cmv_merlin.genome : CMV
 cmv_merlin.chromosomes : NC_006273.2
# HBV_A
hbv_a.genome : hbv_a
 hbv_a.chromosomes : X02763.1
# HBV_B
hbv_b.genome : hbv_b
 hbv_b.chromosomes : D00330.1
# HBV_C
hbv_c.genome : hbv_c
 hbv_c.chromosomes : AB014381.1
# HBV_D
hbv_d.genome : hbv_d
 hbv_d.chromosomes : X02496.1
# HBV_E
hbv_e.genome : hbv_e
 hbv_e.chromosomes : X75657.1
# HBV_F
hbv_f.genome : hbv_f
 hbv_f.chromosomes : X75663.1
# HBV_G
hbv_g.genome : hbv_g
 hbv_g.chromosomes : AF160501.1
# HBV_H
hbv_h.genome : hbv_h
 hbv_a.chromosomes : AY090460.1

