process {
  executor = 'azurebatch'
}

azure {

  storage {
    accountName = 'devsagenomics01'
    accountKey = secrets.storageAccountKey
  }
  batch {
    location = 'canadacentral'
    accountName = 'devbatchgenomics01'
    accountKey = secrets.batchAccountKey
    autoPoolMode = false
    deletePoolsOnCompletion = false
    pools {
      'nf-pipeline-pool-STANDARD_D4_V5-dev' {
          autoScale = true
      }
    }
  }
  registry {
    server = 'genomicsacrdev01.azurecr.io'
    userName = 'genomicsacrdev01'
    password = secrets.acrPassword
  }
}

params {
 
}


manifest {
    name            = 'ph-metagenomics'
    author          = """Venkat S. Malladi and Gordon Ritchie"""
    homePage        = ''
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
    doi             = ''
}
