process {
  executor = 'azurebatch'
}

azure {

  storage {
    accountName = 'devsagenomics01'
    accountKey = secrets.storageAccountKey
  }
  batch {
    location = 'canadacentral'
    accountName = 'devbatchgenomics01'
    accountKey = secrets.batchAccountKey
    autoPoolMode = false
    deletePoolsOnCompletion = false
    pools {
      'nf-pipeline-pool-STANDARD_D4_V5-dev' {
          autoScale = true
      }
    }
  }
  registry {
    server = 'genomicsacrdev01.azurecr.io'
    userName = 'genomicsacrdev01'
    password = secrets.acrPassword
  }
}

params {
  // Workflow flags
  q_score = 10
  percent_mutations = 0.015
  percent_mutations_clinical = 0.015
  medakaModel = 'r941_min_fast_g303'

  genomes {
    'cmv' {
        referenceBase = "az://nextflow/nextflow-references/cmv_merlin.fa"
        referenceGenbank = "az://nextflow/nextflow-references/cmv_merlin.gb"
        ampliconBed = "az://nextflow/nextflow-references/cmv_merlin.bed"
        snpeff_database = "az://nextflow/nextflow-references/data"
        snpeff_config = "az://nextflow/nextflow-references/snpEff.config"
        resistance_mutations_file = "az://nextflow/nextflow-references/CMV_resistance_mutations.csv"
        multibase_codon_file = "az://nextflow/nextflow-references/CMV_codonbases.csv"
      }
    'hbv' {
        referenceBase = "az://nextflow/nextflow-references/hbv"
        ampliconBed = "az://nextflow/nextflow-references/hbv"
        referenceGenbank = "az://nextflow/nextflow-references/hbv"
        snpeff_database = "az://nextflow/nextflow-references/data"
        snpeff_config = "az://nextflow/nextflow-references/snpEff.config"
        resistance_mutations_file = "az://nextflow/nextflow-references/HBV_resistance_mutations.csv"
        multibase_codon_file = "az://nextflow/nextflow-references/HBV_codonbases.csv"
      }
  }
}


manifest {
    name            = 'ph-metagenomics'
    author          = """Venkat S. Malladi and Gordon Ritchie"""
    homePage        = ''
    description     = """Low-frequency variant calling for viral samples"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
    doi             = ''
}
